body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f0f0f0;
    font-family:Arial;
}

.login{
    background:white;
  
    padding:60px;
    border-radius:10px;
    width:250px;
  
   text-align: center;
}

input,button{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
    align-items: center;
}
